body{
  background: #173753;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica Neue;
  }
h1{
  font-size: 2em;
  color: #eee;
  display: inline-block;
  text-align: center;
}
a{
  color: white;
  }
p{
  margin-top: 1em;
  text-align: center;
  color: white;
  }
 
div {
  background: #2892D7;
  flex-direction: column;
  display: flex;
  justify-content: center;
  min-width:324px;
  margin-top: 3em;
  margin-bottom: 2em;
  margin-left: 3em;
  margin-right: 3em;
  border-radius: 3%;
  
}
.buttonf {
    background-color: #1D70A2;  
    border: none;
    color: white;
    padding: 11px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin-top: 1em;
  
  }
  